<div class="row">
  <div class="col-md-8">
    <% if(!contact){ %>
    <div class="alert alert-danger fw-bold" role="alert">
      Data kontak tidak ditemukan <br />
      <a href="/contact" class="alert-link fw-normal">&laquo; back</a>
    </div>
    <% } else { %>
    <h3>Detail Kontak</h3>
    <div class="card" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title"><%= contact.nama %></h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">
          <%= contact.nohp %>
        </h6>
        <p class="card-text"><%= contact.email %></p>
        <a href="/contact" class="card-link d-block mt-3">&laquo; Back</a>
      </div>
    </div>
    <% } %>
  </div>
</div>
