<div class="container my-3">
    <div class="row">
        <div class="col text-center">
            <img class="img-thumbnail rounded-circle mx-auto d-block" width="200" height="200" src="img/dimas4x6.jpg" alt="Dimas">
            <h1 class="display-4">Dimas Aldi Sallam</h1>
            <p class="lead">Lecturer | Content Creator</p>
        </div>
    </div>
</div>